<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDDTC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EDDTC.My.MySettings>
            <setting name="edd_repo_path" serializeAs="String">
                <value />
            </setting>
            <setting name="tlf_files_path" serializeAs="String">
                <value>\EDDiscovery\Translations\</value>
            </setting>
            <setting name="uc_files_path" serializeAs="String">
                <value>\EDDiscovery\UserControls\</value>
            </setting>
            <setting name="je_files_path" serializeAs="String">
                <value>\EliteDangerous\JournalEvents\</value>
            </setting>
            <setting name="ed_files_path" serializeAs="String">
                <value>\EliteDangerous\EliteDangerous\</value>
            </setting>
            <setting name="diff_wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tran_wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exmp_wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tlf_files_naming" serializeAs="String">
                <value>*-*.tlf</value>
            </setting>
            <setting name="uc_files_naming" serializeAs="String">
                <value>translation-*-uc.tlp</value>
            </setting>
            <setting name="je_files_naming" serializeAs="String">
                <value>translation-*-je.tlp</value>
            </setting>
            <setting name="ed_files_naming" serializeAs="String">
                <value>translation-*-ed.tlp</value>
            </setting>
            <setting name="example_name" serializeAs="String">
                <value>example-ex.tlf</value>
            </setting>
            <setting name="tran_showexample" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exmp_showtranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diff_ignore_removed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tran_hide_translated" serializeAs="String">
                <value>False</value>
            </setting>
        </EDDTC.My.MySettings>
    </userSettings>
</configuration>