<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDDTT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EDDTT.My.MySettings>
            <setting name="edd_repo_set" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edd_repo_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="last_language" serializeAs="String">
                <value />
            </setting>
            <setting name="lang_mainfile_path" serializeAs="String">
                <value>\EDDiscovery\Translations\</value>
            </setting>
            <setting name="lang_mainfile_naming" serializeAs="String">
                <value>{0}-{1}.tlf</value>
            </setting>
            <setting name="lang_exfile_name" serializeAs="String">
                <value>example-ex.tlf</value>
            </setting>
            <setting name="lang_uc_path" serializeAs="String">
                <value>\EDDiscovery\UserControls\</value>
            </setting>
            <setting name="lang_uc_naming" serializeAs="String">
                <value>translation-{0}-uc.tlp</value>
            </setting>
            <setting name="lang_je_path" serializeAs="String">
                <value>\EliteDangerous\JournalEvents\</value>
            </setting>
            <setting name="lang_je_naming" serializeAs="String">
                <value>translation-{0}-je.tlp</value>
            </setting>
            <setting name="lang_ed_path" serializeAs="String">
                <value>\EliteDangerous\EliteDangerous\</value>
            </setting>
            <setting name="lang_ed_naming" serializeAs="String">
                <value>translation-{0}-ed.tlp</value>
            </setting>
            <setting name="tran_hide_translated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tran_wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tran_show_example" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diff_wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diff_ignore_removed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_load_files" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_check_edd_repo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exmp_wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exmp_show_translation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_set_on_new_language" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warn_before_clearing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="format_section" serializeAs="String">
                <value>SECTION {0}</value>
            </setting>
            <setting name="format_id_empty" serializeAs="String">
                <value>{0}: "{1}" @</value>
            </setting>
            <setting name="format_id_translated" serializeAs="String">
                <value>{0}: "{1}" =&gt; "{2}"</value>
            </setting>
            <setting name="format_inclusion" serializeAs="String">
                <value>include {0}</value>
            </setting>
            <setting name="format_id_spaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="replacement_chr" serializeAs="String">
                <value>╬</value>
            </setting>
        </EDDTT.My.MySettings>
    </userSettings>
</configuration>